<section class="section slider">
    <div class="section__inner">
        <div class="slider-discover">

            {{#ifCond slider "sliderOne"}}

            {{#each config.discover.sliderOne }}
            <div class="slider-discover__slide">
               
                <img src="{{ this.image }}" class="discover__img" alt={{ this.alt }}>
                 <p class="slider-discover__slide__description">{{ this.description }}</p>
            </div>

            {{/each}}


            {{else}}

            {{#each config.discover.sliderTwo }}
            <div class="slider-discover__slide">
                
                <img src="{{ @root.config.imgPath }}{{ this.image }}" class="discover__img" alt={{ this.alt }}>
                <p class="slider-discover__slide__description">{{ this.description }}</p>
            </div>

            {{/each}}

            {{/ifCond}}

        </div>
    </div>
</section>