<section class="nav">

	{{!-- <div class="nav__logo">
		<img src="{{ @root.config.imgPath }}kx-logo-white.png" alt="">
	</div> --}}

	<nav class="nav__navigation">
		<ul>
			<li><a ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_home" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:home" href="/{{ config.site }}/{{ config.subfolder }}">Home</a></li>
			<li><a ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_discover" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:discover" href="/{{ config.site }}/{{ config.subfolder }}/discover/">Discover</a></li>
			<li><a ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_whats-on" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:whats-on" href="/{{ config.site }}/{{ config.subfolder }}/whats-on/">What's on</a></li>
			<li><a ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_support" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:support" href="/{{ config.site }}/{{ config.subfolder }}/support/">Support</a></li>
			<li><a ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_my bookings" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:my bookings" href="/{{ config.site }}/{{ config.subfolder }}/bookings/">My bookings</a></li>
		</ul>
	</nav>

</section>

