<section class="nav">

	<div class="nav__logo">
		<img src="{{ @root.config.imgPath }}kx-logo-white.png" alt="">
	</div>

	<nav class="nav__navigation">
		<ul>
			<li><a href="/{{ config.site }}/{{ config.subfolder }}">Home</a></li>
			<li><a href="/{{ config.site }}/{{ config.subfolder }}/discover/">Discover</a></li>
			<li><a href="/{{ config.site }}/{{ config.subfolder }}/whats-on/">What's on</a></li>
			<li><a href="/{{ config.site }}/{{ config.subfolder }}/support/">Support</a></li>
			<li><a href="/{{ config.site }}/{{ config.subfolder }}/bookings/">My bookings</a></li>
		</ul>
	</nav>

</section>

