<section class="nav">

	{{!-- <div class="nav__logo">
		<img src="{{ @root.config.imgPath }}kx-logo-white.png" alt="">
	</div> --}}

	<nav class="nav__navigation">
		<ul class='navigation-desktop'>
			<li class='nav__navigation-link-container'>
				<a class='nav__navigation-main-link' ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_home" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:home" href="/{{ config.site }}/{{ config.subfolder }}">Home of innovation</a>
				<ul class='nav__navigation--submenu'>
					<li>
						<a href="">
							Creativity Space
						</a>
					</li>
					<li>
						<a href="">
							Entertainment Space
						</a>
					</li>
					<li>
						<a href="">
							Health & wellbeing Space
						</a>
					</li>
					<li>
						<a href="">
							Giving Space
						</a>
					</li>
				</ul>
			</li>
			<li class='nav__navigation-link-container'>
				<a class='nav__navigation-main-link' ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_discover" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:discover" href="/{{ config.site }}/{{ config.subfolder }}/discover/">Discover</a>
				<ul class='nav__navigation--submenu'>
					<li>
						<a href="">
							explore samsung kx
						</a>
					</li>
					<li>
						<a href="">
							our community
						</a>
					</li>

				</ul>
			</li>
			<li class='nav__navigation-link-container'>
				<a class='nav__navigation-main-link' ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_whats-on" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:whats-on" href="/{{ config.site }}/{{ config.subfolder }}/whats-on/">What's on</a>
				<ul class='nav__navigation--submenu'>
					<li>
						<a href="">
							events
						</a>
					</li>
					<li>
						<a href="">
							drop-in sessions
						</a>
					</li>
					<li>
						<a href="">
							my bookings
						</a>
					</li>
					<li>
						<a href="">
							Creativity Space
						</a>
					</li>
				</ul>
			</li>
			<li class='nav__navigation-link-container'>
				<a class='nav__navigation-main-link' ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_support" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:support" href="/{{ config.site }}/{{ config.subfolder }}/support/">Support</a>
				<ul class='nav__navigation--submenu'>
					<li>
						<a href="">
							one To One Tutorials
						</a>
					</li>
					<li>
						<a href="">
							General Support
						</a>
					</li>
					<li>
						<a href="">
							Repairs
						</a>
					</li>
					<li>
						<a href="">
							Creativity Space
						</a>
					</li>
				</ul>
			</li>
			<li class='nav__navigation-link-container'>
				<a class='nav__navigation-main-link login-link' ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_my bookings" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:my bookings" href="/{{ config.site }}/{{ config.subfolder }}/bookings/">Sign Up</a>

			</li>
		</ul>
		<ul class="navigation-mobile">
			<li class='navigation-mobile__menu-button navigation-mobile__item fz20'>MENU</li>
			<li class="mobile-logo navigation-mobile__item fz20">LOGO</li>
			<li class='navigation-mobile__login-container'>
				<a class='nav__navigation-main-link login-link fz20' ga-ca="microsite" ga-ac="sticky menu" ga-la="kings-cross:sticky-navbar_my bookings" data-omni-type="microsite" data-omni="uk:kings-cross:sticky-navbar:my bookings" href="/{{ config.site }}/{{ config.subfolder }}/bookings/">Sign Up</a>

			</li>
		</ul>
	</nav>

</section>