<section class="section passionPoints">
	<div class="section__inner">
		<div class="passionPoints__header">
			<h2>Follow Your Passion</h2>

		</div>

		<div class="passionPoints__container">
			{{#each config.passions}}

<a ga-ca="microsite" class="cover__container" ga-ac="feature" ga-la="kings-cross:passion-points_{{ this.name }}"
					data-omni-type="microsite" data-omni="uk:kings-cross:passion-tile:{{ this.name }}"
					href="/{{ @root.config.site }}/{{ @root.config.subfolder }}/whats-on?passions={{ this.code }}">
			<div data-code="{{ this.code }}" class="cover atvImg">
			<div class="atvImg-layer" data-img="{{ @root.config.aemImgPath }}passion-cards/pp_{{this.code}}.png"></div>
			<div class="atvImg-layer" data-img="{{ @root.config.aemImgPath }}passion-cards/pp_text_{{this.code}}_new.png"></div>


	</div>
	</a>




			{{/each}}

		</div>
		</a>
	</div>

</section>
