<div class="sidedrawer">
    <ul>
        <li>
            <!-- <button class="sidedrawer__heading-button fz25" data-open="home">home</button> -->
            <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_home" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:home">home</a>
            <ul data-menu="home" class="sidedrawer__submenu">
              <li>
                <a class="fz25 saffron-color" href="/{{ config.site }}{{ config.subfolder }}/lifestyle/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_lifestyle" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:lifestyle">
                  Lifestyle & Wellbeing
                </a>
              </li>
              <li>
                <a class="fz25 skyblue-color" href="/{{ config.site }}{{ config.subfolder }}/entertainment/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_entertainment" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:entertainment">
                  Entertainment
                </a>
              </li>
              <li>
                <a class="fz25 coral-color" href="/{{ config.site }}{{ config.subfolder }}/creativity/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_creativity" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:creativity">
                  Creativity
                </a>
              </li>
              <li>
                <a class="fz25 teal-color" href="/{{ config.site }}{{ config.subfolder }}/innovation/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_innovation" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:innovation">
                  Tech & Innovation
                </a>
              </li>
            </ul>
        </li>
        <li>
          <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/discover/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_discover" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:discover">Discover</a>
        </li>
        <li>
          <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/whats-on/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_whats-on" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:whats-on">What's on</a>
        </li>
        <li>
          <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/support/" ga-ca="microsite" ga-ac="mobile menu" ga-la="kings-cross:mobile-sidebar_support" data-omni-type="microsite" data-omni="uk:kings-cross:mobile-sidebar:support">Support</a>
        </li>
    </ul>
    <div class="sidedrawer__footer">

    </div>
</div>
