<div class="sidedrawer">
    <ul>
        <li>
            <button class="sidedrawer__heading-button fz25" data-open="home">home of innovation</button>
            <ul data-menu="home" class="sidedrawer__submenu">
              <li>
                <a class="fz25" href="/{{ config.site }}{{ config.subfolder }}/lifestyle/">
                  Lifestyle & Wellbeing
                </a>
              </li>
              <li>
                <a class="fz25" href="/{{ config.site }}{{ config.subfolder }}/entertainment/">
                  Entertainment
                </a>
              </li>
              <li>
                <a class="fz25" href="/{{ config.site }}{{ config.subfolder }}/creativity/">
                  Creativity
                </a>
              </li>
              <li>
                <a class="fz25" href="/{{ config.site }}{{ config.subfolder }}/innovation/">
                  Tech & Innovation
                </a>
              </li>
            </ul>
        </li>
        <li>
          <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/discover/">Discover</a>
        </li>
        <li>
          <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/whats-on/">What"s on</a>
        </li>
        <li>
          <a class="sidedrawer__heading-button fz25" href="/{{ config.site }}{{ config.subfolder }}/support/">Support</a>
        </li>
    </ul>
    <div class="sidedrawer__footer">

    </div>
</div>
