<div class="discoverEvents">

  <div class="discoverEvents__Slider">

    {{> slider-item
      title="Samsung KX50: The Future in Focus"
      image="https://images.samsung.com/is/image/samsung/p5/uk/explore/kings-cross/discover/2020-assets/KX_50.jpg"
      cta="Download PDF"
      url="https://images.samsung.com/is/content/samsung/p5/uk/explore/kings-cross/discover/SamsungKX50-The_Future_in_Focus_-_report.pdf"
      target="_blank"
    }}

  </div>

</div>


{{#*inline 'slider-item'}}

  <div class="discoverEvents__SliderItem" style="background-image:url({{image}})">
    <div class="discoverEvents__SliderItemBody">
      <h4 class="fz36">{{title}}</h4>
      <a class="btn btn--primary btn--primary--coral" href="{{url}}" target="{{target}}">{{cta}}</a>
    </div>
  </div>


{{/inline}}
