<!--#include virtual="/uk/aem/header-pdp.html"-->

<section class="cheil-static home-of-innovation">

	{{> home-of-innovation/stylesheet}}

	{{> components/nav }}

  <div class="hoiContent">
    {{> home-of-innovation/hoiBreadcrumbs }}
  	{{!-- {{> home-of-innovation/hoiFindOutMore }} --}}
  </div>

	{{> home-of-innovation/components }}

  {{!-- move to components
  	{{#unless items}}
  	 {{> home-of-innovation/contentPagination }}
  	{{/unless}}
  --}}

{{!--

BELOW is all the old stuff below from s9 need to knows project

 - includes ...
 - breadcrumbs
 - find out more navigation (2nd level pages)
 - back (used on mobile in place of breadcrumbs - i think)
 - previous and next - used to navigate between detail pages (bottom level - mainly 3rd, some 2nd)

--}}

{{!--

	{{ config.site }}
	{{ config.subfolder }}

<div>
	{{ dtgen }}
	<br/>
	{{ site }}
	<br/>
	{{ subfolder }}
	<br/>

	{{ json breadcrumbs }}

	<br/>
	{{#each findoutmore}}
		{{ this.title }}
	{{/each}}
	{{ json findoutmore }}

	{{ json back }}
	<br/>
	{{ json prev }}
	<br/>
	{{ json next }}
</div>


	{{#each items}}
		<p>{{ this.title }}</p>
	{{/each}}

 --}}



	</section>

	{{!-->components/findKx--}}

	{{>components/socialMedia}}

	{{> scripts }}
  {{> home-of-innovation/scripts }}

</section>


<!--#include virtual="/uk/aem/footer-pdp.html"-->
