EXAMPLE

<section class="banner">
  <div class="banner__inner">

    {{#if_equals subHeader 'no' }}
      <div class="banner__content helper-center-content">
          <h1 class="banner__content-title">{{ bannerTitle }}</h1>
      </div>
    {{/if_equals}}

    {{#if_equals subHeader 'yes' }}
      <div class="banner__content helper-center-content animation">
          <h1 class="banner__content-title">{{ bannerTitle }}</h1>
          <span class="banner__content-subtitle helper-center-content h1 h1-bold">{{ bannerSubTitle }}</span>
      </div>
    {{/if_equals}}


    {{#if_equals type 'video' }}
      <div class="banner-video">
        <video autoplay loop muted preload='auto' class="banner-video__video" data-object-fit="cover" poster="/assets/videos/headers/posters/{{ videoPath }}.jpg">
          <source src="/assets/videos/headers/{{ videoPath }}.mp4" type="video/mp4">
        </video>
      </div>
    {{/if_equals}}

    {{#if_equals type 'image' }}
     <div class="banner-image">
        <picture>
          <source media="(max-width: 750px)" srcset="{{ imagePath }}-mobile.{{ imageExtension }}">
          <source media="(max-width: 1024px)" srcset="{{ imagePath }}-tablet.{{ imageExtension }}">
          <source media="(max-width: 1600px)" srcset="{{ imagePath }}-desktop.{{ imageExtension }}">
          <img src="{{ imagePath }}-desktop.{{ imageExtension }}" alt="{{ imageAlt }}" />
        </picture>
     </div>
    {{/if_equals}}

  </div>
</section>
