<li
  class="kxNav__StickyNavLink"
  role="presentation"
  {{#if tabindex}}tabindex="{{tabindex}}"{{/if}}>

  <a
    href="/uk/explore/kings-cross{{page}}"
    role="menuitem"
    ga-ca="microsite"
    ga-ac="navigation-desktop"
    ga-la="uk:kings-cross:navigation-desktop:{{title}}"
    data-omni-type="microsite"
    data-omni="uk:kings-cross:kings-cross:navigation-desktop:{{title}}">
    {{title}}
  </a>

</li>
