<li
  class="
    kxNav__StickyNavLink
    {{#if class}}kxNav__StickyNavLink--{{class}}{{/if}}
    {{#if raised}}kxNav__StickyNavLink--raised{{/if}}
    {{#if fade}}kxNav__StickyNavLink--fade{{/if}}
  "
  role="presentation"
  {{#if tabindex}}tabindex="{{tabindex}}"{{/if}}>

  <a
    {{#if page}}href="/uk/explore/kings-cross{{page}}"{{/if}}
    role="menuitem"
    ga-ca="microsite"
    ga-ac="navigation-{{type}}"
    ga-la="uk:kings-cross:navigation-{{type}}:{{title}}"
    data-omni-type="microsite"
    data-omni="uk:kings-cross:kings-cross:navigation-{{type}}:{{title}}">
    {{title}}
  </a>

</li>
