<li
  class="
    kxNav__StickyNavLink
    kxNav__SearchLink
    kxNav__SearchLink--{{type}}
  "
  role="presentation"
  {{#if tabindex}}tabindex="{{tabindex}}"{{/if}}>

  <a
    role="menuitem"
    ga-ca="microsite"
    ga-ac="navigation-{{type}}"
    ga-la="uk:kings-cross:navigation-{{type}}:search-toggle"
    data-omni-type="microsite"
    data-omni="uk:kings-cross:kings-cross:navigation-{{type}}:search-toggle">
    Search Toggle
  </a>

</li>
