{{#if (eq this.url false)}}
  <!-- start non link item -->
  <div class="hoiList__Item  hoiList__Item--placeholder">
{{else}}
  <!-- start standard link item -->
  <a
    ga-ca="microsite"
    ga-ac="feature"
    ga-la="uk:kings-cross:{{@root.title}}:{{to_lower_case this.title }}{{#if this.download}}:download-file{{/if}}"
    data-omni-type="microsite"
    data-omni="uk:kings-cross:{{@root.title}}:{{to_lower_case this.title }}{{#if this.download}}:download-file{{/if}}"
    class="hoiList__Item"
    href="{{{ this.url }}}"
    {{#if download}}
      download
      target="_blank"
    {{/if}}>
{{/if}}


  <div class="hoiList__ItemImageWrap"
    style="background-image:url('{{this.image}}')"
    role="img"
    aria-label="{{this.alt}}">

    {{#if this.contentLength}}
      <div class="hoiList__ItemImageTime">
        {{> timeIcon}} {{this.contentLength}}
      </div>
    {{/if}}

    {{#if download}}
      <div class="hoiList__ItemImageIcon">
        {{> svg/download}}
      </div>
    {{/if}}
  </div>

  <h6 class="hoiList__ItemTitle">
    {{#if_defined this.meta.icon}}
      <div class="hoiList__ItemIcon" icon="{{this.meta.icon}}">
        {{> listItemIcons}}
      </div>
    {{/if_defined}}
    {{ this.title }}
  </h6>

{{#if (eq this.url false)}}
  <!-- end non link item -->
  </div>
{{else}}
  <!-- end standard link item -->
  </a>
{{/if}}


{{#*inline 'timeIcon'}}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11 6v8h7v-2h-5v-6h-2zm10.854 7.683l1.998.159c-.132.854-.351 1.676-.652 2.46l-1.8-.905c.2-.551.353-1.123.454-1.714zm-2.548 7.826l-1.413-1.443c-.486.356-1.006.668-1.555.933l.669 1.899c.821-.377 1.591-.844 2.299-1.389zm1.226-4.309c-.335.546-.719 1.057-1.149 1.528l1.404 1.433c.583-.627 1.099-1.316 1.539-2.058l-1.794-.903zm-20.532-5.2c0 6.627 5.375 12 12.004 12 1.081 0 2.124-.156 3.12-.424l-.665-1.894c-.787.2-1.607.318-2.455.318-5.516 0-10.003-4.486-10.003-10s4.487-10 10.003-10c2.235 0 4.293.744 5.959 1.989l-2.05 2.049 7.015 1.354-1.355-7.013-2.184 2.183c-2.036-1.598-4.595-2.562-7.385-2.562-6.629 0-12.004 5.373-12.004 12zm23.773-2.359h-2.076c.163.661.261 1.344.288 2.047l2.015.161c-.01-.755-.085-1.494-.227-2.208z"/></svg>
{{/inline}}

{{#*inline 'listItemIcons'}}

  <!-- article icon -->
  <svg
    class="hoiList__ItemIconSVG hoiList__ItemIconSVG--article"
    xmlns="http://www.w3.org/2000/svg" width="234" height="234" viewBox="0 0 234 234">
    <g transform="translate(-670 -160)">
      <g transform="translate(670 160)" fill="#fff" stroke="#707070" stroke-width="1" opacity="0">
        <rect width="234" height="234" stroke="none"/>
        <rect x="0.5" y="0.5" width="233" height="233" fill="none"/>
      </g>
      <g transform="translate(684 147.952)">
        <g transform="translate(0 35.048)">
          <g>
            <path d="M42.186,35.049h-.017A6.855,6.855,0,0,0,37,37.48a8.946,8.946,0,0,0-2.17,5.944V169.013c0,4.605,3.311,8.361,7.382,8.373,17.161.047,45.912,4.11,65.747,27.689V73.643a8.869,8.869,0,0,0-1.014-4.241C90.669,39.62,59.385,35.095,42.186,35.049Z" transform="translate(-10.669 -35.048)" fill="#fff"/>
            <path d="M229.879,169.012V43.423a8.946,8.946,0,0,0-2.17-5.944,6.857,6.857,0,0,0-5.165-2.431h-.018c-17.2.046-48.483,4.572-64.763,34.354a8.868,8.868,0,0,0-1.013,4.241V205.074c19.835-23.579,48.586-27.643,65.747-27.689C226.568,177.373,229.879,173.617,229.879,169.012Z" transform="translate(-48.012 -35.048)" fill="#fff"/>
            <path d="M251.183,71.8h-5.346v105c0,11.759-8.433,21.347-18.8,21.376-14.556.039-38.557,3.273-55.555,21.549,29.4-8.177,60.389-2.861,78.05,1.711a6.7,6.7,0,0,0,6.251-1.619,8.794,8.794,0,0,0,2.771-6.542V80.175C258.555,75.558,255.247,71.8,251.183,71.8Z" transform="translate(-52.524 -42.838)" fill="#fff"/>
            <path d="M12.717,176.8V71.8H7.371C3.308,71.8,0,75.558,0,80.175v133.1a8.792,8.792,0,0,0,2.771,6.542,6.7,6.7,0,0,0,6.251,1.619c17.662-4.573,48.653-9.888,78.05-1.711-17-18.275-41-21.508-55.554-21.547C21.151,198.149,12.717,188.561,12.717,176.8Z" transform="translate(0 -42.838)" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </svg>


  <!-- audio icon -->
  <svg
    class="hoiList__ItemIconSVG hoiList__ItemIconSVG--audio"
    xmlns="http://www.w3.org/2000/svg" width="234" height="234" viewBox="0 0 234 234">
    <g transform="translate(-72 -160)">
      <g transform="translate(72 160)" fill="#fff" stroke="#707070" stroke-width="1" opacity="0">
        <rect width="234" height="234" stroke="none"/>
        <rect x="0.5" y="0.5" width="233" height="233" fill="none"/>
      </g>
      <path d="M70.586,199.989h36.737a2.761,2.761,0,0,0,2.758-2.758V154.761a8.462,8.462,0,0,0-3.029-6.1c-14.643-11.8-20.6-23.27-15.429-42.594l.02-.078c.219-.887.682-1.336,1.375-1.336a2.142,2.142,0,0,1,1.185.436l12.916,8.723a13.6,13.6,0,0,0,7.487,2.409,8.228,8.228,0,0,0,7.033-3.349,7.966,7.966,0,0,0,.755-7.011,13.255,13.255,0,0,0-5.308-6.809l-15.3-10.331-.1-.076a2.256,2.256,0,0,1-.2-2.991l6.164-9.127a1.866,1.866,0,0,1,1.573-.87,2.54,2.54,0,0,1,1.388.459L125.7,86.3a13.6,13.6,0,0,0,7.487,2.409,8.229,8.229,0,0,0,7.033-3.349,7.968,7.968,0,0,0,.755-7.011,13.254,13.254,0,0,0-5.307-6.809l-14.439-9.751a3.368,3.368,0,0,1-1.516-1.9,2.161,2.161,0,0,1,.352-1.728l6.03-8.929a2.066,2.066,0,0,1,1.759-.934,3.314,3.314,0,0,1,1.6.473L144.28,58.788a13.6,13.6,0,0,0,7.487,2.409,8.229,8.229,0,0,0,7.033-3.349c2.748-4.069.706-10.269-4.552-13.821L141.2,35.216a2.447,2.447,0,0,1-1.163-1.944c-.1-1.827,1.765-3.489,2.138-3.8C150.552,22.424,158.719,19,167.144,19c9.488,0,19.626,4.113,33.9,13.75,12.751,8.612,20.224,16.035,24.229,24.071,4.574,9.178,4.6,19.149.085,31.38a2.561,2.561,0,0,1-2.323,1.731,2.9,2.9,0,0,1-1.624-.55l-13.346-9.013a13.6,13.6,0,0,0-7.487-2.409,8.229,8.229,0,0,0-7.033,3.349,7.968,7.968,0,0,0-.755,7.011,13.253,13.253,0,0,0,5.307,6.809l14.9,10.063a2.671,2.671,0,0,1,1.173,1.548,1.979,1.979,0,0,1-.33,1.559l-6.258,9.267a1.987,1.987,0,0,1-1.666.942,2.523,2.523,0,0,1-1.428-.491l-15-10.133a13.6,13.6,0,0,0-7.487-2.409,8.228,8.228,0,0,0-7.033,3.349,7.966,7.966,0,0,0-.755,7.011,13.253,13.253,0,0,0,5.307,6.809l14.51,9.8a2.857,2.857,0,0,1,.815,3.988l-5.628,8.334a2.276,2.276,0,0,1-1.929,1.046,3.552,3.552,0,0,1-1.8-.566L170.9,135.4a13.6,13.6,0,0,0-7.487-2.409,8.229,8.229,0,0,0-7.033,3.349c-2.748,4.07-.705,10.269,4.552,13.82l12.729,8.6a1.721,1.721,0,0,1,.862,1.415,2.446,2.446,0,0,1-1.168,1.879c-7.67,5.622-14.947,8.355-22.247,8.355a36.69,36.69,0,0,1-13.29-2.721c-1.506-.582-4.57-2.163-4.57,3.629V197.23A2.761,2.761,0,0,0,136,199.987h36.736a8.283,8.283,0,0,1,8.274,8.274v5.623a8.283,8.283,0,0,1-8.274,8.274H70.586a8.283,8.283,0,0,1-8.274-8.274v-5.623A8.283,8.283,0,0,1,70.586,199.989Z" transform="translate(43.124 152)" fill="#fff"/>
    </g>
  </svg>

  <!-- video icon -->
  <svg
    class="hoiList__ItemIconSVG hoiList__ItemIconSVG--video"
    xmlns="http://www.w3.org/2000/svg" width="234" height="234" viewBox="0 0 234 234">
    <g transform="translate(-389 -160)">
      <g transform="translate(389 160)" fill="#fff" stroke="#707070" stroke-width="1" opacity="0">
        <rect width="234" height="234" stroke="none"/>
        <rect x="0.5" y="0.5" width="233" height="233" fill="none"/>
      </g>
      <g transform="translate(389 153.198)">
        <g transform="translate(0 21.802)">
          <g>
            <path d="M308.193,168.992a9.541,9.541,0,0,0-13.207-3.372l-21.033,18.546-8.149,4.777v44.4l7.587,4.5c.281,0,.281.281.562.281l20.471,18.265a8.647,8.647,0,0,0,5.339,1.686,9.475,9.475,0,0,0,9.554-9.554V210.86l.281-37.091A7.356,7.356,0,0,0,308.193,168.992Z" transform="translate(-75.808 -64.181)" fill="#fff"/>
            <path d="M45.243,112.282A45.24,45.24,0,1,0,0,67.042C-.278,92.05,20.234,112.282,45.243,112.282Zm0-63.786A18.546,18.546,0,1,1,26.7,67.042C26.416,56.645,34.846,48.5,45.243,48.5Z" transform="translate(0 -21.802)" fill="#fff"/>
            <path d="M174.174,160.012c-7.306,3.653-13.638,6.9-34.165,6.9-10.678,0-20.794-6.091-29.223-11.711h-29c-8.43,5.62-21.579,11.711-32.257,11.711-8.711,0-16.86-2.967-24.165-6.9C18.9,163.665,14.4,168.971,14.4,176.839V232.4a22.845,22.845,0,0,0,22.76,22.76H162.653a22.845,22.845,0,0,0,22.76-22.76V176.839C185.132,168.971,180.637,163.665,174.174,160.012Z" transform="translate(-4.285 -60.003)" fill="#fff"/>
            <path d="M174.044,112.282a45.24,45.24,0,1,0-45.24-45.24A45.21,45.21,0,0,0,174.044,112.282Zm0-63.786A18.546,18.546,0,1,1,155.5,67.042,18.528,18.528,0,0,1,174.044,48.5Z" transform="translate(-28.321 -21.802)" fill="#fff"/>
          </g>
        </g>
      </g>
    </g>
  </svg>

  <!-- series icon -->
  <svg
    class="hoiList__ItemIconSVG hoiList__ItemIconSVG--series"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="234" height="234" viewBox="0 0 234 234">
    <defs>
      <clipPath id="seriesclip-path">
        <rect width="234" height="234" transform="translate(921 10)" fill="#fff" stroke="#707070" stroke-width="1"/>
      </clipPath>
    </defs>
    <g transform="translate(-921 -10)" clip-path="url(#series-clip-path)">
      <rect width="234" height="129" rx="6" transform="translate(921 95)" fill="#fff"/>
      <rect width="204" height="18" rx="6" transform="translate(936 62)" fill="#fff"/>
      <rect width="150" height="17" rx="6" transform="translate(963 30)" fill="#fff"/>
    </g>
  </svg>



{{/inline}}
