<div class="
  hoiCards
  {{#if style}}hoiCards--{{style}}{{/if}}
  ">

  {{#if_defined current_page}}

    {{> card
      title="Home"
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/home-test.jpg"
      cta="Enter"
      color="black"
      url="/uk/explore/kings-cross/"
    }}

  {{/if_defined}}

  {{> card
    title="Lifestyle & Wellbeing"
    image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/lifestyle.jpg"
    cta="Enter"
    color="saffron"
    url="/uk/explore/kings-cross/lifestyle"
  }}

  {{#if_equals current_page 'creativity'}}
  {{else}}
    {{> card
      title="Creativity"
      image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/creativity.jpg"
      cta="Enter"
      color="coral"
      url="/uk/explore/kings-cross/creativity"
    }}
  {{/if_equals}}

  {{> card
    title="Entertainment"
    image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/entertainment.jpg"
    cta="Enter"
    color="skyblue"
    url="/uk/explore/kings-cross/entertainment"
  }}

  {{> card
    title="Tech & Innovation"
    image="https://images.samsung.com/is/image/samsung/assets/uk/explore/kings-cross/discover/2020-assets/innovation.jpg"
    cta="Enter"
    color="teal"
    url="/uk/explore/kings-cross/innovation"
  }}

</div>


{{#*inline 'card'}}

  <div
    class='hoiCards__Card'
    style="background-image: url('{{image}}');"
  >
    <h3 class="fz24">{{title}}</h3>
    <a
      href="{{url}}"
      ga-ca="microsite"
      ga-ac="feature"
      ga-la="kings-cross:discover-home-of-innovation-{{title}}"
      data-omni-type="microsite"
      data-omni="uk:kings-cross:discover-home-of-innovation-{{title}}"
      class="btn btn--primary btn--primary--{{color}}"
    >
      {{cta}}
    </a>
  </div>

{{/inline}}
