<section class="kxImageLinkBanner"
  style="background-image: url('{{image}}')">
  <div class="kxImageLinkBanner__body">
    {{#if title}}
      <h3 class="fz50">{{title}}</h3>
    {{/if}}
    {{#if copy}}
      <p class="fz22">{{copy}}</p>
    {{/if}}
    <a
      ga-ca="microsite" ga-ac="feature" ga-la="kings-cross:{{page}}:{{cta}}"
      data-omni-type="microsite" data-omni="uk:kings-cross:{{page}}:{{cta}}"
      class="
        btn
        btn--primary
        {{#if buttonColor}}btn--primary--{{buttonColor}}{{/if}}
      "
      href="{{link}}">{{cta}}</a>
  </div>
</section>
