<div class="hoiContentBreadcrumbs">
	<div>
	    {{#each breadcrumbs }}
	        {{#if @index }}&nbsp;/&nbsp;{{/if}}
	        <a class="contentBreadcrumbsLink" data-omni-type="microsite" data-omni="{{ ../site }}:{{ ../subfolder }}:breadcrumbs:{{ @index }}:{{to_lower_case this.title }}" href="{{ this.url }}">{{ this.title }}</a>
	    {{/each}}
	</div>
	<a class="contentBreadcrumbsBack" href="{{ back.url }}">
		<span class="contentBreadcrumbsBackChevron">&lt;</span>&nbsp;&nbsp;&nbsp;Back
	</a>
</div>
