<div>*** RELATED START ***</div>
{{!-- MAYBE BETTER TO HAVE SOME SORT OF RELATED TAGGING SYSTEM --}}
<div class="contentRelated">
    <div class="contentRelatedTitle">
        {{ title }}
    </div>
    <div class="contentRelatedItems">
        {{#each items }}
        <div class="contentRelatedItem">
            {{ @index }} | {{ this.title }}
            <br/>
            {{!-- link added to item in gulpfile --}}
            <a href="{{ this.link }}">LINK TO {{ this.title }}</a>
        </div>
        {{/each}}
    </div>
</div>
<div>*** RELATED END ***</div>
