
<div>*** GALLERY START ***</div>
<div class="hoiContentGallery">
    <div class="hoiContentGallery__Title">
        {{ title }}
    </div>
    <div class="hoiContentGallery__Medias">
        {{#each medias }}
        <div class="hoiContentGallery__Media {{ this.type }}">
            {{ @index }} | {{ this.type }} - {{ this.title }}
            <br/>
            <img style="width:100px;" src="{{ this.thumb }}"/>
            {{#if this.youtubeid }}
                <br/>
                <a href="https://www.youtube.com/watch?v={{ this.youtubeid }}" target="_blank">
                    Link to YT - should show in a lightbox
                </a>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>
<div>*** GALLERY END ***</div>
