<div>*** GROUP START ***</div>
<div class="hoiContentGroup">
    <div class="hoiContentGroup__Title">
        {{ title }} ({{ code }})
    </div>
    <div class="hoiContentGroup__Items">
        {{#each items }}
        <div class="hoiContentGroup__Item">
            {{ @index }} | {{ this.title }}
            <br/>
            {{!-- link added to item in gulpfile --}}
            <a href="{{ this.link }}">LINK TO {{ this.title }}</a>
        </div>
        {{/each}}
    </div>
</div>
<div>*** GROUP END ***</div>
