<div class="hoiAddToCalendar"
  data-page-title="{{@root.title}}"
  data-title="{{title}}"
  data-description="{{description}}"
  data-start="{{start}}"
  data-address="{{address}}"
  data-duration="{{duration}}"
  data-end="{{end}}">
</div>
