<div
  class="hoiBambuser"
  showID="{{showID}}"
  style="background-image:url({{poster}})"
  {{#if alt}}
    role="image"
    aria-label="{{alt}}"
  {{/if}}
>
  <style>
    @media screen and (max-width: 768px) {
      .hoiBambuser {
          background-image:url({{mobile_poster}}) !important;
      }
    }
  </style>
  <div class="hoiBambuser__Body">
    <div>
      {{#if htmlTitles}}
      {{else}}
        <h1>Samsung <br>People</h1>
      {{/if}}
      {{>live_icon}}

      {{#if htmlTitles}}
        <div class="hoiBambuser__HtmlTitles">
          {{{htmlTitles}}}
        </div>
      {{/if}}
    </div>
    <div class="hoiBambuser__NextSteam">
      {{#if live}}
      {{else lastShow}}
      {{else}}
        {{#if nextStreamCopy}}
          <h4>{{{nextStreamCopy}}}</h4>
        {{else}}
          <h4>Next Stream:</h4>
        {{/if}}
      {{/if}}
      <h2>{{title}}</h2>
    </div>
    {{#if description}}
      <p class="hoiBambuser__Description">{{description}}</p>
    {{/if}}

    {{#if unsupported}}
    {{else}}
      <a
        class="btn btn--primary btn--primary--coral  hoiBambuser__Launch {{#if live}}hoiBambuser__Launch--live{{/if}}"
        data-omni-type="microsite"
        data-omni="uk:kings-cross:samsung-people-live:launch show"
        ga-ca="microsite"
        ga-ac="feature"
        ga-la="uk:kings-cross:samsung-people-live:launch show"
        >
        {{#if cta}}
          {{{cta}}}
        {{else if live}}
          Watch Live Now
        {{else if ended}}
          Replay Live Demo
        {{else}}
          Starting Soon
        {{/if}}
        <div class="hoiBambuser__LaunchIcon">
          {{>play_icon}}
        </div>
      </a>
    {{/if}}
  </div>

  <div class="hoiBambuser__ContentTime">
      {{> video_icon}}
      {{ duration }}
  </div>

</div>


{{#*inline "play_icon"}}
  <svg height="100%" viewBox="0 0 24 24"><path fill="white" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"/></svg>
{{/inline}}


{{#*inline "live_icon"}}

<svg class="hoiBambuser__LiveIcon" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 183 80" style="enable-background:new 0 0 183 80;">
<style type="text/css">
  .st0{fill:#FF4337;}
  .st1{fill:#FFFFFF;}
</style>
<path class="st0" d="M171,80H12C5.4,80,0,74.6,0,68V12C0,5.4,5.4,0,12,0h159c6.6,0,12,5.4,12,12v56C183,74.6,177.6,80,171,80z"/>
<g>
  <circle class="st1" cx="38" cy="40.1" r="16.5"/>
  <g>
    <path class="st1" d="M94.8,51.5v4.9H76v-33h5.4v28.1H94.8z"/>
    <path class="st1" d="M99.8,23.5h5.4v33h-5.4V23.5z"/>
    <path class="st1" d="M136.2,23.5l-10.1,33h-5.9l-10.1-33h5.7l7.5,27.2l7.4-27.2H136.2z"/>
    <path class="st1" d="M161.5,51.6v4.9H141v-33h19.9v4.9h-14.5v8.8h10.7V42h-10.7v9.5H161.5z"/>
  </g>
</g>
</svg>

{{/inline}}

{{#*inline "video_icon"}}
<svg
  class="hoiList__ItemIconSVG hoiList__ItemIconSVG--video"
  xmlns="http://www.w3.org/2000/svg" width="234" height="234" viewBox="0 0 234 234">
  <g transform="translate(-389 -160)">
    <g transform="translate(389 160)" fill="#fff" stroke="#707070" stroke-width="1" opacity="0">
      <rect width="234" height="234" stroke="none"/>
      <rect x="0.5" y="0.5" width="233" height="233" fill="none"/>
    </g>
    <g transform="translate(389 153.198)">
      <g transform="translate(0 21.802)">
        <g>
          <path d="M308.193,168.992a9.541,9.541,0,0,0-13.207-3.372l-21.033,18.546-8.149,4.777v44.4l7.587,4.5c.281,0,.281.281.562.281l20.471,18.265a8.647,8.647,0,0,0,5.339,1.686,9.475,9.475,0,0,0,9.554-9.554V210.86l.281-37.091A7.356,7.356,0,0,0,308.193,168.992Z" transform="translate(-75.808 -64.181)" fill="#fff"/>
          <path d="M45.243,112.282A45.24,45.24,0,1,0,0,67.042C-.278,92.05,20.234,112.282,45.243,112.282Zm0-63.786A18.546,18.546,0,1,1,26.7,67.042C26.416,56.645,34.846,48.5,45.243,48.5Z" transform="translate(0 -21.802)" fill="#fff"/>
          <path d="M174.174,160.012c-7.306,3.653-13.638,6.9-34.165,6.9-10.678,0-20.794-6.091-29.223-11.711h-29c-8.43,5.62-21.579,11.711-32.257,11.711-8.711,0-16.86-2.967-24.165-6.9C18.9,163.665,14.4,168.971,14.4,176.839V232.4a22.845,22.845,0,0,0,22.76,22.76H162.653a22.845,22.845,0,0,0,22.76-22.76V176.839C185.132,168.971,180.637,163.665,174.174,160.012Z" transform="translate(-4.285 -60.003)" fill="#fff"/>
          <path d="M174.044,112.282a45.24,45.24,0,1,0-45.24-45.24A45.21,45.21,0,0,0,174.044,112.282Zm0-63.786A18.546,18.546,0,1,1,155.5,67.042,18.528,18.528,0,0,1,174.044,48.5Z" transform="translate(-28.321 -21.802)" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
{{/inline}}
