<div class="hoiBreadcrumbs">
  {{#each breadcrumbs }}
      {{#if @index }}&nbsp;/&nbsp;{{/if}}
      <a class="hoiBreadcrumbs__Link" data-omni-type="microsite" data-omni="{{ ../site }}:{{ ../subfolder }}:breadcrumbs:{{ @index }}:{{to_lower_case this.title }}" href="{{ this.url }}">{{ this.title }}</a>
  {{/each}}
</div>
