<div class="hoiButtons">

  {{#each items }}
    <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:{{@root.title}}"
					data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}" class="hoiButton button btn btn--primary" target="{{this.target}}" href="{{this.url}}">{{this.copy}}</a>
  {{/each}}

</div>
