<div class="hoiGallery">

  {{#if this.title}}
    {{> home-of-innovation/hoiHeadline copy=this.title level='3'}}
  {{/if}}

  <div class="hoiGallery__Nav  hoiList  hoiList--grid-4">

      {{#each items }}
      <div class="hoiList__Item">
        <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:{{@root.title}}:image{{@index}}"
  					data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}:image{{@index}}" class="hoiGallery__NavItem" data-type="{{ this.type }}" tabindex="0">
          <h6 class="hoiList__ItemTitle">{{{ this.title }}}</h6>
          <div class="hoiList__ItemImageWrap"
            style="background-image:url('{{this.image}}')"
            role="img"
            aria-label="{{this.alt}}">
          </div>
        </a>
        {{#if this.list_button}}
          <div class="hoiList__Button">
            {{> home-of-innovation/hoiButtons items=(array this.list_button) }}
          </div>
        {{/if}}
      </div>
      {{/each}}

      {{#spacerElements items 4}}
        <div class="hoiList__Item  hoiList__Item--spacer"></div>
      {{/spacerElements}}

  </div>

  <div class="hoiGallery__Spotlight" active="false">

    <div class="hoiContent hoiGallery__SpotlightWrap">

      <div class="hoiGallery__SpotlightClose"></div>

      <div class="hoiGallery__SpotlightItems">

        {{#each items}}

            {{#if_equals this.type 'image'}}
              <div class="hoiGallery__SpotlightItem" data-type="image">
                <div class="hoiGallery__Media">
                  {{> home-of-innovation/hoiMediaImage content=this.content alt=this.title}}
                </div>
            {{/if_equals}}

            {{#if_equals this.type 'youtube'}}
              <div class="hoiGallery__SpotlightItem" data-type="youtube">
                <div class="hoiGallery__Media">
                  {{> home-of-innovation/hoiMediaYoutube content=this.content wrap=true}}
                </div>
            {{/if_equals}}

            {{#if_equals this.type 'video'}}
              <div class="hoiGallery__SpotlightItem" data-type="video">
                <div class="hoiGallery__Media">
                  {{> home-of-innovation/hoiMediaVideo content=this.content poster=this.poster wrap=true}}
                </div>
            {{/if_equals}}

            {{#if gallery_components}}
              <div class="hoiGallery__MediaBody">
                {{> home-of-innovation/components components=gallery_components }}
              </div>

            {{else}}

              {{#if (or this.title this.description)}}
                <div class="hoiGallery__MediaBody">
                  {{#if this.title}}
                    <div class="hoiHeadline">
                      <h3>{{this.title}}</h3>
                    </div>
                  {{/if}}
                  {{#if this.description}}
                    <p>{{this.description}}</p>
                  {{/if}}
                </div>
              {{/if}}

            {{/if}}

            </div>

        {{/each}}

      </div>
    </div>
  </div>
</div>
