<div
  class="hoiGroupLand__Container">
  {{#each (group-land-split items)}}
    {{> groupLandGroup items=this}}
  {{/each}}
</div>


{{!-- inline partials --}}
{{!-- single item --}}
{{#* inline 'groupLandItem'}}

  {{#if (eq this.url false)}}
    <div class="hoiGroupLand__Item">
  {{else}}
    <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:{{@root.title}}:{{this.title}}"
				data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}:{{this.title}}" class="hoiGroupLand__Item" href="{{this.url}}">
  {{/if}}

    <div class="hoiGroupLand__Image" role="img" alt="{{this.alt}}" style="background-image:url('{{this.image}}')"></div>
    <!-- <img class="hoiGroupLand__Image" src="{{this.image}}" /> -->

    <div class="hoiGroupLand__Label">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
    </div>

  {{#if (eq this.url false)}}
    </div>
  {{else}}
    </a>
  {{/if}}

{{/inline}}

{{!-- group item --}}
{{#* inline 'groupLandGroup'}}
  <div class="hoiGroupLand  hoiGroupLand--{{items.length}}-items">

    <div class="hoiGroupLand__Group  hoiGroupLand__Group--A">

      {{> groupLandItem items.[0]}}

      {{#if items.[1]}}
        <div class="hoiGroupLand__Group  hoiGroupLand__Group--B">

          {{> groupLandItem items.[1]}}

          {{#if items.[2]}}
            <div class="hoiGroupLand__Group  hoiGroupLand__Group--C">

              {{> groupLandItem items.[2] }}

              {{#if items.[3]}}
                {{> groupLandItem items.[3] }}
              {{/if}}

            </div>
          {{/if}}

        </div>
      {{/if}}

    </div>

  </div>
{{/inline}}
