<div class="hoiGallery">

  {{#if this.title}}
    <div class="hoiLinkList__Title">
      <h3>{{this.title}}</h3>
    </div>
  {{/if}}

  <div class="hoiGallery__Nav  hoiList  hoiList--grid-4">

      {{#each items }}
      <a class="hoiGallery__NavItem  hoiList__Item" data-type="{{ this.type }}">
        <h6 className="hoiList__ItemTitle">{{{ this.title }}}</h6>
        <div class="hoiList__ItemImageWrap">
          <img class="hoiList__ItemImage" src="{{ this.image }}" alt="{{ this.title }}">
        </div>
      </a>
      {{/each}}

      {{#spacerElements items 4}}
        <div class="hoiList__Item  hoiList__Item--spacer"></div>
      {{/spacerElements}}

  </div>

  <div class="hoiGallery__Spotlight" active="false">

    <div class="hoiContent hoiGallery__SpotlightWrap">

      <div class="hoiGallery__SpotlightClose"></div>

      <div class="hoiGallery__SpotlightItems">

        {{#each items}}

            {{#if_equals this.type 'image'}}
              <div class="hoiGallery__SpotlightItem  hoiGallery__SpotlightItem--image" data-type="image">
                <div class="hoiGallery__MediaResponsiveWrap">
                  <img class="hoiGallery__Media  hoiGallery__Media--image" src="{{ this.content }}" alt="{{ this.title }}">
                </div>
                <div class="hoiGallery__MediaBody">
                  <div class="hoiHeadline">
                    <h3>{{this.title}}</h3>
                  </div>
                  <p>{{this.description}}</p>
                </div>
              </div>
            {{/if_equals}}

            {{#if_equals this.type 'youtube'}}
              <div class="hoiGallery__SpotlightItem  hoiGallery__SpotlightItem--youtube" data-type="youtube" >
                <div class="hoiGallery__MediaResponsiveWrap">
                  {{> home-of-innovation/hoiMediaYoutube class="hoiGallery__Media  hoiGallery__Media--youtube" youtube-id=this.content }}
                </div>
                <div class="hoiGallery__MediaBody">
                  <div class="hoiHeadline">
                    <h3>{{this.title}}</h3>
                  </div>
                  <p>{{this.description}}</p>
                </div>
              </div>
            {{/if_equals}}

            {{#if_equals this.type 'video'}}
              <div class="hoiGallery__SpotlightItem  hoiGallery__SpotlightItem--video" data-type="video">
                <div class="hoiGallery__MediaResponsiveWrap">
                  <video class="hoiGallery__Media  hoiGallery__Media--video" src="{{this.content}}" controls poster="{{this.poster}}"></video>
                </div>
                <div class="hoiGallery__MediaBody">
                  <div class="hoiHeadline">
                    <h3>{{this.title}}</h3>
                  </div>
                  <p>{{this.description}}</p>
                </div>
              </div>
            {{/if_equals}}

        {{/each}}

      </div>
    </div>
  </div>
</div>
