{{#* inline 'groupLandItem'}}
  <a ga-ca="microsite" ga-ac="feature" ga-la="uk:kings-cross:{{@root.title}}:{{this.title}}"
					data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}:{{this.title}}" class="hoiGroupLand__Item" href="{{this.url}}">

    <div class="hoiGroupLand__Image" style="background-image:url('{{this.image}}')"></div>
    <!-- <img class="hoiGroupLand__Image" src="{{this.image}}" /> -->

    <div class="hoiGroupLand__Label">
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
    </div>

  </a>
{{/inline}}

<div class="hoiGroupLand  hoiGroupLand--{{items.length}}-items">

  <div class="hoiGroupLand__Group  hoiGroupLand__Group--A">

    {{> groupLandItem items.[0]}}

    {{#if items.[1]}}
      <div class="hoiGroupLand__Group  hoiGroupLand__Group--B">

        {{> groupLandItem items.[1]}}

        {{#if items.[2]}}
          <div class="hoiGroupLand__Group  hoiGroupLand__Group--C">

            {{> groupLandItem items.[2] }}

            {{#if items.[3]}}
              {{> groupLandItem items.[3] }}
            {{/if}}

          </div>
        {{/if}}

      </div>
    {{/if}}

  </div>

</div>
