<div class="
  hoiIconLinks
  {{#if style}}
    hoiIconLinks--{{style}}
  {{/if}}
  ">

  {{#each items}}

    {{#if (ne link false)}}

      <a
        class="hoiIconLinks__Link"
        ga-ca="microsite"
        ga-ac="feature"
        ga-la="uk:kings-cross:{{@root.title}}:{{to_lower_case this.title }}"
        data-omni-type="microsite"
        data-omni="uk:kings-cross:{{@root.title}}:{{to_lower_case this.title }}"
        href="{{link}}"
        {{#if target}}target="{{target}}{{/if}}">

        <div class="hoiIconLinks__Link_Image">
          <img src="{{image}}" alt="{{title}} icon" />
        </div>
        {{#if title}}
          <span class="hoiIconLinks__Link_Text">
            {{title}}
          </span>
        {{/if}}
      </a>

    {{/if}}

  {{/each}}

</div>
