<div class="hoiIconLinks">

  {{#each items}}

    {{#if (ne link false)}}

      <a
        class="hoiIconLinks__Link"
        href="{{link}}"
        {{#if target}}target="{{target}}{{/if}}">

        <div class="hoiIconLinks__Link_Image">
          <img src="{{image}}" alt="{{title}} icon" />
        </div>
        <span class="hoiIconLinks__Link_Text">
          {{title}}
        </span>
      </a>

    {{/if}}

  {{/each}}

</div>
