{{!--

  JSON Model

  {
    "type": "kv",
    "image": image_url
    "style": {
      "desktop": "left" | "top" | "right"  (default: left)
      "mobile": "top" | "bottom"  (default: top)
    },
    "content": [
      HOI_COMPONENTS
    ]
  }


  }

--}}

<div class="hoiKv
  {{#if this.style}}
    {{#if this.style.desktop}}
      hoiKv--d-{{ this.style.desktop }}
    {{else}}
      hoiKv--d-left
    {{/if}}
    {{#if this.style.mobile}}
      hoiKv--m-{{ this.style.mobile }}
    {{else}}
      hoiKv--m-top
    {{/if}}
  {{else}}
    hoiKv--d-Left
    hoiKv--m-top
  {{/if}}
">

  <div class="hoiKv__Image">
  	<img
      src="{{ this.image }}"
    />
  </div>

  <div class="hoiKv__Components">
    
    {{> home-of-innovation/components this }}

  </div>

</div>
