{{!--

  JSON Model

  {
    "type": "kv",
    "image": image_url
    "style": {
      "desktop": "left" | "top" | "right"  (default: left)
      "mobile": "top" | "bottom"  (default: top)
    },
    "content": [
      HOI_COMPONENTS
    ]
  }


  }

--}}

<div class="hoiKv
  {{#if this.style}}
    {{#if this.style.desktop}}
      hoiKv--d-{{ this.style.desktop }}
    {{else}}
      hoiKv--d-left
    {{/if}}
    {{#if this.style.mobile}}
      hoiKv--m-{{ this.style.mobile }}
    {{else}}
      hoiKv--m-top
    {{/if}}
  {{else}}
    hoiKv--d-Left
    hoiKv--m-top
  {{/if}}
">

  <div class="hoiKv__Media">
    {{#if_equals this.media.type 'image'}}
  	 <img
        class="hoiKv__MediaImage"
        src="{{ this.media.content }}"
        />
    {{/if_equals}}
    {{#if_equals this.media.type 'video'}}
      <video
        class="hoiKv__MediaVideo"
        src="{{this.media.content}}"
        poster="{{this.media.poster}}"
        playsinline
        {{#if this.media.loop}}
          loop
        {{/if}}
        {{#if this.media.autoplay}}
          autoplay muted
        {{/if}}
        {{#if_defined this.media.controls }}
          {{#if this.media.controls}}
            controls
          {{/if}}
        {{else}}
          controls
        {{/if_defined}}
      >
      </video>
    {{/if_equals}}
    {{#if_equals this.media.type 'youtube'}}
      {{> home-of-innovation/hoiMediaYoutube
          class="hoiKv__MediaVideo"
          youtube-id=this.media.content
      }}
    {{/if_equals}}
  </div>

  <div class="hoiKv__Components">

    {{> home-of-innovation/components this }}

  </div>

</div>
