<div class="hoiKv
  {{#if this.style}}
    {{#if this.style.desktop}}
      hoiKv--d-{{ this.style.desktop }}
    {{else}}
      hoiKv--d-left
    {{/if}}
    {{#if this.style.mobile}}
      hoiKv--m-{{ this.style.mobile }}
    {{else}}
      hoiKv--m-top
    {{/if}}
  {{else}}
    hoiKv--d-Left
    hoiKv--m-top
  {{/if}}

  {{#if this.style}}
    {{#if this.style.theme}}
      hoiKv--theme-{{this.style.theme}}
    {{/if}}
  {{/if}}
">

  {{#if style}}
    {{#if style.desktopRatio}}
      <style>
        .hoiKv__Media:after {
          padding-bottom: {{style.desktopRatio}}% !important;
        }
      </style>
    {{/if}}
  {{/if}}

  <div  ga-ca="microsite"
    ga-ac="feature"
    ga-la="uk:kings-cross:{{@root.title}}"
    data-omni-type="microsite"
    data-omni="uk:kings-cross:{{@root.title}}"  class="hoiKv__Media">
    {{#if_equals this.media.type 'image'}}
    {{!-- TODO add mobile image --}}
    <div
        class="hoiKv__MediaImage"
        style="
          background-image:url('{{ this.media.content }}');
          {{#if this.style}}{{#if this.style.media_background_position}}background-position: {{this.style.media_background_position}};{{/if}}{{/if}}
        "
        role="img"
        aria-label="{{ this.media.alt }}">
    </div>
    {{/if_equals}}
    {{#if (or (eq this.media.type 'video') (eq this.media.type 'audio')) }}
      {{> home-of-innovation/hoiMediaVideo
          content=this.media.content
          poster=this.media.poster
          poster_mobile=this.media.poster_mobile
          title=this.media.title
          loop=this.media.loop
          autoplay=this.media.autoplay
          controls=this.media.controls
          hide_state=this.media.hide_state
          type=this.media.type
      }}
    {{/if}}
    {{#if (or (eq this.media.type 'youtube') (eq this.media.type 'livestream')) }}
      {{> home-of-innovation/hoiMediaYoutube
          class="hoiKv__MediaVideo"
          content=this.media.content
          embedType=this.media.embedType
          poster=this.media.poster
          poster_mobile=this.media.poster_mobile
          alt=this.media.alt
      }}
    {{/if}}
  </div>

  <div class="hoiKv__Components">

    {{> home-of-innovation/components this }}

  </div>

</div>
