{{!--

  JSON Model

  {
    "type": "kv",
    "image": image_url
    "style": {
      "desktop": "left" | "top" | "right"  (default: left)
      "mobile": "top" | "bottom"  (default: top)
    },
    "content": [
      HOI_COMPONENTS
    ]
  }


  }

--}}

<div class="hoiKv
  {{#if this.style}}
    {{#if this.style.desktop}}
      hoiKv--d-{{ this.style.desktop }}
    {{else}}
      hoiKv--d-left
    {{/if}}
    {{#if this.style.mobile}}
      hoiKv--m-{{ this.style.mobile }}
    {{else}}
      hoiKv--m-top
    {{/if}}
  {{else}}
    hoiKv--d-Left
    hoiKv--m-top
  {{/if}}
">

  <div class="hoiKv__Media">
    {{#if_equals this.media.type 'image'}}
  	 <img
        class="hoiKv__MediaImage"
        src="{{ this.media.content }}"
        />
    {{/if_equals}}
    {{#if_equals this.media.type 'video'}}
      {{> home-of-innovation/hoiMediaVideo
          content=this.media.content
          poster=this.media.poster
          loop=this.media.loop
          autoplay=this.media.autoplay
          controls=this.media.controls
      }}
    {{/if_equals}}
    {{#if_equals this.media.type 'youtube'}}
      {{> home-of-innovation/hoiMediaYoutube
          class="hoiKv__MediaVideo" content=this.media.content
      }}
    {{/if_equals}}
  </div>

  <div class="hoiKv__Components">

    {{> home-of-innovation/components this }}

  </div>

</div>
