<div class="hoiShare">

  <a class="hoiShare__Link" id="twitter" href="#" title="Share On Twitter" target="_blank"
    data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}:share-twitter"
    ga-ca="microsite" ga-la="kings-cross:{{@root.title}}:share-twitter"
    >
    {{> svg/twitter }}
  </a>

  <a class="hoiShare__Link" id="facebook" href="#" title="Share On Facebook" target="_blank"
    data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}:share-facebook"
    ga-ca="microsite" ga-la="kings-cross:{{@root.title}}:share-facebook">
    {{> svg/facebook }}
  </a>

  <a class="hoiShare__Link" id="share" href="#" title="Share Link" target="_blank"
    data-omni-type="microsite" data-omni="uk:kings-cross:{{@root.title}}:share-twitter"
    ga-ca="microsite" ga-la="kings-cross:{{@root.title}}:share-link">
    {{> svg/share }}
  </a>

  <p class="hoiShare__Feedback">
    Link copied to clipboard
  </p>

</div>
